<div class="container">
  <% if @projects.count > 0 %>
    <div class="clearfix">
      <div class="pull-left">
        <h2>Time Entry<%= image_tag 'loader.gif', size: '35x35', class: 'loader', style: "display: none" %></h2>
      </div>
    </div>
    <%= form_for [@time_entry], html: { class: 'form-horizontal default-form col-md-12' } do |f| %>
      <div class="col-md-12">
        <div class="pull-left">
          <%= select_tag :project_id, options_from_collection_for_select(@projects, 'id', 'name'), class: 'form-control' %>
        </div>
        <div class="pull-right">
          <%= select_tag :employee, options_from_collection_for_select(@employees, 'id', 'name'), class: 'form-control' %>
        <br /><br /><br />
      </div>
      <div class="col-md-12">
        <table class="table table-bordered" style="text-align: center;">
          <thead>
            <tr>
              <td>Monday</td>
              <td>Tuesday</td>
              <td>Wednesday</td>
              <td>Thursday</td>
              <td>Friday</td>
              <td>Saturday</td>
              <td>Sunday</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% 0.upto 6 do |n| %>
                <input id="dates-<%= n %>" name="dates[]" type="hidden" value="<%= current_week_dates[n] %>" />
                <td><input type="text" name="hours[]" id="date-<%= n %>" class="input-hour" value="<%= @hours[n] %>" maxlength="3" <%= 'autofocus' if current_date == current_week_dates[n] %> <%= 'readonly' if current_week_dates[n] > current_date %> /></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12">
        <div class="pull-right">
          <div class="week">
            <%= f.hidden_field :current_year, value: current_year %>
            <%= f.hidden_field :current_week_of_year, value: current_week_of_year %>
            <%= link_to '', '', id: 'prev-week-navigation', class: 'glyphicon glyphicon-chevron-left', data: { toggle: 'tooltip', placement: 'top', title: 'Previous Week' } %>
            <span class="begin-week"><%= display_current_begin_week %></span>
            <i class="glyphicon glyphicon-minus"></i>
            <span class="end-week"><%= display_current_end_week %></span>
            <%= link_to '', '', id: 'next-week-navigation', class: 'glyphicon glyphicon-chevron-right', data: { toggle: 'tooltip', placement: 'top', title: 'Next Week' } %>
          </div>
        </div>
      </div>

      <br />

      <div class="col-md-12">
        <div class="pull-right clearfix">
          <%= f.submit 'Save', class: 'button button-default' %>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <div class="col-md-12">
      <div class="pull-left">
        <h2>Time Entry<%= image_tag 'loader.gif', size: '35x35', class: 'loader', style: "display: none" %></h2>
      </div>
    </div>
    <blockquote style ="  padding: 10px 20px;margin: 0 0 20px;">
      No Project
    </blockquote>
  <% end %>
</div>
